/* General page settings */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header styling */
header {
    background-color: #008000; /* Green */
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

/* Default settings for images in the header */
header {
    background-position: right top;
    background-repeat: no-repeat;
}

/* Navigation styling */
nav {
    background-color: #fff;
    border-bottom: 2px solid #ffb6c1;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 1.2em;
}

nav ul li:hover {
    color: #ff1493;
    cursor: pointer;
}

/* Main content styling */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

main h1 {
    color: #ff1493;
    font-size: 2em;
    margin-bottom: 10px;
}

main p {
    line-height: 1.6;
    margin-bottom: 20px;
}

main h4 {
    color: #ff1493;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Responsive image settings */
img {
    max-width: 100%;
    height: auto;
}

/* Footer styling */
footer {
    background-color: #00FF00; /* Lime */
    color: #000000;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

/* Small screen rules */
@media (max-width: 650px) {
    header {
        background-image: url("../images/LogoSmall.png"); /* Path to the small logo */
        min-height: 50px;
        
    }

    header h1 {
        font-size: 2em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}
/* Large screen rules */
@media (min-width: 651px) {
    header {
        background-image:  url("../images/LogoLarge.png");
        min-height: 100px;
    }
}
